In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1.0,1.0],[1.3,1.6],[5.5,5.1],[5.6,6.1]],columns=["lat","long"])

In [3]:
df

   lat  long
0  1.0   1.0
1  1.3   1.6
2  5.5   5.1
3  5.6   6.1

In [4]:
df.to_csv('./test.csv')